@{
    ViewData["Title"] = "DeliverNET | Individuals";
}
<style>
    body {
        background-image: url("/img/header-bg.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>

<div class="separator-big nav-padding">
    <h1 class="text-carmine text-center"> ENTER INDIVIDUAL INFO</h1>
</div>