@{
    ViewData["Title"] = "DeliverNET | Businesses";
}
<body>
    <div class="p-2 bg-jet"></div>
    <div>
        <div class="row">
            <div class="bike-winter col-md-8 p-0"></div>
            <div class="col-md-4 bg-jet p-0">
                <p class="text-winter text-center">
                    <strong>
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        Not
                        <br />
                        the best
                        <br />
                        of ideas...
                    </strong>
                </p>

            </div>
        </div>
        <div class="bg-jet" style="height:5px"></div>
        <div class="row">
            <div class="col-md-4 bg-jet p-0">
                <p class="text-winter text-center">
                    <strong>
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        Fuck
                        <br />
                        My
                        <br />
                        Life
                    </strong>
                </p>
            </div>
            <div class="bike-winter-rev col-md-8 p-0"></div>
        </div>

    </div>
</body>