@{
    ViewData["Title"] = "DeliverNET | Businesses";
}
<style>
    body {
        background-image: url("/img/header-bg.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>
<div class="separator-big nav-padding">
    <h1 class="text-winter text-center"> ENTER BUSINESS INFO</h1>
</div>