@*<style>
        button:hover {
            cursor: pointer
        }
        header {
            background: url(~/img/header-bg.jpg);
            display: block;
            width: 100vw;
            height: 100vh;
            object-fit: cover;
        }
    </style>*@

@*<div class="separator-small"></div>*@
<div class="jumbotron bg-transparent text-center p-5 my-5">
    <h1 class="text-shadow text-jet font-pacifico display-1">Delivernet</h1>
</div>
<div class="separator-small"></div>

<div class="jumbotron bg-carmine">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 col-sm-1 text-md-left text-sm-center">
                <i class="fas fa-motorcycle text-jet icon-large"></i>
            </div>
            <div class="col-md-6 col-sm-1 text-bone text-md-right text-sm-center">
                <h1><i>INDIVIDUALS</i></h1>
                <p>
                    Job-finding website, searching for people.
                    Trading slavers from all across the world.
                    Job-finding website, searching for people.
                    Trading slavers from all across the world.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="separator-small"></div>

<div class=" jumbotron bg-winter">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-sm-6 text-bone text-md-left text-sm-center">
                <h1><i>BUSINESSES</i></h1>
                <p>
                    The best Service-Finder agency in Holargos.
                    Our next target is Korinthos, for pethera.
                    Still expanding.
                </p>
            </div>
            <div class="col-sm-6 text-md-right text-sm-center">
                <i class="fas fa-utensils m-4 text-jet icon-large"></i>
            </div>
        </div>
    </div>
</div>

<div class="separator-big"></div>

<partial name="_ContactUsPartial" />

<div class="separator-small"></div>