<!-- Header -->
<header class="masthead">
    <div class="separator-big"></div>
    <a style="text-decoration: none" asp-area="" asp-controller="Home" asp-action="AboutBusi">
        <div class="bg-carmine hov-carmine">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <i class="fas fa-utensils m-4 text-my-dark" style="font-size: 150px;"></i>
                    </div>
                    <div class="col-md-6 text-bone text-right">
                        <h1 class="pt-3"><i>FOR BUSINESSES</i></h1>
                        <br />
                        <p>The best Service-Finder agency in Holargos.</p>
                        <p>Our next target is Korinthos, for pethera.</p>
                        <p>Still expanding.</p>
                    </div>
                </div>
            </div>
        </div>
    </a>
    <div class="separator-small bg-transparent"></div>
    <a style="text-decoration: none" asp-area="" asp-controller="Home" asp-action="AboutIndi">
        <div class="bg-winter hov-winter">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-6 text-bone text-left">
                        <h1 class="pt-3"><i>FOR INDIVIDUALS</i></h1>
                        <br />
                        <p>Job-finding website, searching for people.</p>
                        <p>Trading slavers from all across the world.</p>
                        <p>Fuck Pythonas, fuck Michelle, drink Pasparakis turds.</p>
                    </div>
                    <div class="col-md-6">
                        <i class="fas fa-truck text-my-dark" style="font-size: 150px;"></i>
                    </div>
                </div>
            </div>
        </div>
    </a>
    <div class="separator-small bg-transparent"></div>
</header>


@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#btnclick").click(function () {
                $("#login").modal({
                    show: true,
                    focus: true
                })
            });

            $("#HidebtnModal").click(function () {
                $("#login").modal("hide");
            });
        });
    </script>
}