

<div class="spacer-100"></div>

<div class="jumbotron bg-transparent text-center">
    <h1 class="text-shadow text-bone font-pacifico display-1">Delivernet</h1>
</div>

<div class="spacer-100"></div>

<div class="jumbotron-300 bg-carmine">
    <div class="container text-jet">
        <div class="row align-items-center">
            <div class="col-md-6 col-sm-1 text-md-left text-sm-center">
                <i class="fas fa-motorcycle icon-large"></i>
            </div>
            <div class="col-md-6 col-sm-1 text-md-right text-sm-center">
                <h1><i>INDIVIDUALS</i></h1>
                <p>
                    Job-finding website, searching for people.
                    Trading slavers from all across the world.
                    Job-finding website, searching for people.
                    Trading slavers from all across the world.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="spacer-100"></div>

<div class=" jumbotron-300 bg-winter">
    <div class="container text-jet">
        <div class="row align-items-center">
            <div class="col-sm-6 text-md-left text-sm-center">
                <h1><i>BUSINESSES</i></h1>
                <p>
                    The best Service-Finder agency in Holargos.
                    Our next target is Korinthos, for pethera.
                    Still expanding.
                </p>
            </div>
            <div class="col-sm-6 text-md-right text-sm-center">
                <i class="fas fa-utensils m-4 icon-large"></i>
            </div>
        </div>
    </div>
</div>

<div class="spacer-100"></div>

<partial name="_ContactUsPartial" />