@using Microsoft.AspNetCore.Identity

@{
    ViewData["Title"] = "DeliverNET | Delivery Source";
}
@inject SignInManager<DeliverNETUser> SignInManager
@inject UserManager<DeliverNETUser> UserManager

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <environment include="Development">
        <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=PT+Serif:700" rel="stylesheet">
        <link href="~/css/agency.min.css" rel="stylesheet">
        <link href="~/css/OwnCSS.css" rel="stylesheet">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/vendor/bootstrap/css/bootstrap.min.css"
              asp-fallback-href="~/vendor/bootstrap/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/agency.min.css" asp-append-version="true" />
    </environment>
</head>


<body id="page-top" class="content nav-padding" style="height:100%">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg fixed-top p-1" id="mainNav" style="background-color: #2F332E;max-height:50px">
        <div class="container">
            @if (SignInManager.IsSignedIn(User))
            {
                <a class="navbar text-bone js-scroll-trigger hov-not-bone font-pacifico js-scroll-trigger bg-#E0DDC3 col-sm-3"
                   asp-area="" asp-controller="ProfileIndi" asp-action="IndexIndi">DeliverNET</a>
            }
            else
            {
                <!-- TODO :: Set Rediridection Route according to User Role for account Manage -->
                <a class="navbar text-bone js-scroll-trigger hov-not-bone font-pacifico js-scroll-trigger bg-#E0DDC3 col-sm-7"
                   asp-area="" asp-controller="Home" asp-action="Index">DeliverNET</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"
                        style="background-color: transparent; color: #E0DDC3">
                    Menu
                    <i class="fas fa-bars"></i>
                </button>
            }
            <partial name="_LoginPartial" />

        </div>
    </nav>

    <partial name="_CookieConsentPartial" />


    <div class="body-content" style="height:100%">
        @RenderBody()
    </div>

    <!-- Footer -->
    <footer class="bg-my-dark text-bone p-2" id="footer" style="height:66px;width:100%">
        <div class="container">
            <div class="row">
                <div class="col-md-4 m-auto">
                    <span class="copyright">Copyright &copy; Ipplos</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fab fa-twitter text-bone"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fab fa-facebook-f text-bone"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fab fa-linkedin-in text-bone"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </footer>


    <environment include="Development">
        <!-- Bootstrap core JavaScript -->
        <script src="~/vendor/jquery/jquery.min.js"></script>
        <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Signalr Library-->
        <script src="~/lib/signalr/dist/browser/signalr.js"></script>

        <!-- Plugin JavaScript -->
        <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>

        <!-- Contact form JavaScript -->
        <script src="~/js/jqBootstrapValidation.js"></script>
        <script src="~/js/contact_me.js"></script>

        <!-- Custom scripts for this template -->
        <script src="~/js/agency.min.js"></script>

        <!-- For fixing Footer depending on page size -->
        <script>
            (document.body.scrollHeight > window.innerHeight) ?
                document.getElementById("footer").classList.remove("fixed-bottom") :
                document.getElementById("footer").classList.add("fixed-bottom");
        </script>

        <!-- Profile Icon collapsible menu -->
        <script>
            var coll = document.getElementsByClassName("collapsible");
            var i;

            for (i = 0; i < coll.length; i++) {
                coll[i].addEventListener("click", function () {
                    this.classList.toggle("active");
                    var content = this.nextElementSibling;
                    if (content.style.maxHeight) {
                        content.style.maxHeight = null;
                        document.getElementById("profileIcon").style.marginTop = "0px";
                        document.getElementById("profileIcon").style.marginBottom = "0px";

                    } else {
                        content.style.maxHeight = content.scrollHeight + "px";
                        document.getElementById("profileIcon").style.marginTop = "148px";
                        document.getElementById("profileIcon").style.marginBottom = "14px";
                    }
                });
            }
        </script>

    </environment>
    <environment exclude="Development">
        <script src="~/vendor/jquery/jquery.min.js"
                asp-fallback-src="~/vendor/jquery/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/agency.min.js" asp-append-version="true"></script>
    </environment>



    <!--Client side validation libraries-->
    @*<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.2.0.js"></script>*@
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.js"></script>
    @RenderSection("Scripts", required: false)

</body>
</html>
