@inject SignInManager<DeliverNETUser> SignInManager
@inject UserManager<DeliverNETUser> UserManager

<style>
    li:hover {
        cursor: pointer;
    }

    button:hover {
        cursor: pointer;
    }
</style>

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="" asp-controller="Account" asp-action="Logout" asp-route-returnUrl="@Url.Action("Index", "Home")" method="post" id="logoutForm" class="navbar-right">
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav align-items-center">

                <li class="mr-5">
                    <a class="hov-not-bone" style="color:#E0DDC3" asp-area="" asp-controller="ProfileBusi" asp-action="IndexBusi">
                        <i class="fas fa-desktop mr-1" style="font-size:medium"></i>&ensp;WorkSpace
                    </a>
                </li>
                
                <!-- TODO Gamimene pantazi: Paei MONO sto ProfileIndi gia olous-->
                <li class="ml-4" style="margin-right:230px">
                    <a class="hov-not-bone" style="color:#E0DDC3" asp-area="" asp-controller="ProfileBusi" asp-action="DashboardBusi">
                        <i class="fas fa-chart-line mr-1" style="font-size:larger"></i>&ensp;DashBoard
                    </a>
                </li>

                <li class="text-bone" style="pointer-events:none">
                    @UserManager.GetUserName(User)
                </li>

                <li class="nav-item">
                    <a class="collapsible btn-nav hov-not-bone text-bone text-nowrap ml-md-5 px-2">
                        <i class="fas fa-user text-bone" id="profileIcon" style="font-size:large"></i>
                    </a>
                    <ul class="collapse-content p-0">

                        <li class="hov-dark pl-2 pr-5 pb-2 py-2" style="margin-bottom:2px">
                            <a class="btn-nav text-bone hov-not-bone p-0" asp-area="" asp-controller="ProfileBusi" asp-action="ReviewsBusi">Reviews</a>
                        </li>

                        <li class="hov-dark pl-2 pr-5 py-2">
                            <a class="btn-nav text-bone hov-not-bone p-0" asp-area="" asp-controller="ProfileBusi" asp-action="SettingsBusi">Settings</a>
                        </li>

                        <li class="hov-dark pl-1 pr-5 py-2">
                            <button type="submit" class="btn-nav btn-shadow-none hov-not-bone text-bone"
                                    style="margin-left:0px!important">
                                Logout&ensp;
                            </button>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </form>
}
else
{
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav align-items-center">
            <li class="nav-item">
                <a class="btn-nav text-carmine hov-not-carmine text-nowrap border-0" asp-area="" asp-controller="Home" asp-action="AboutIndi">For Individuals</a>
            </li>
            <li class="nav-item">
                <a class="btn-nav text-winter hov-not-winter text-nowrap border-0 mx-md-2" asp-area="" asp-controller="Home" asp-action="AboutBusi">For Business</a>
            </li>
            <li class="nav-item">
                <a class="btn-nav text-bone hov-not-bone" id="btnclick" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
            </li>
            <li class="nav-item">
                <a class="btn-nav-border hov-not-bone text-bone text-nowrap ml-md-5" asp-area="" asp-controller="Account" asp-action="Register">Register Free</a>
            </li>
        </ul>
    </div>
}
