@model DeliverNET.Models.ProfileDummies.BusiIndixDummyModel

@{
    ViewData["Title"] = "DeliverNET | WorkSpace";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- ::placeholder is valid, don't change -->
<style>
    html {
        height: 100%;
    }

    body {
        background-image: url("/img/background-wood.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }

    tbody {
        overflow: auto;
        line-height: 3;
    }

    thead > tr, tbody {
        display: block;
    }

    row {
        display: inherit;
    }
</style>

<body style="height:100%">
    <div class="row nav-padding m-auto d-block" style="height:100%">
        <div class="container" style="height:100%">
            <div class="row" style="height:100%;width:100%">

                <!-- Order List for Deliverer -->
                <div class="col-md-6 d-block" style="height:80%">
                    <h3 class="text-center text-bone table-standard bg-winter-3d-square m-0 p-2" style="overflow-y:hidden;max-height:60px">Order List</h3>
                    <table class="table-standard bg-winter-3d-square" style="height:100%">
                        <tbody class="container collapsible" style="max-height:100%">

                            <tr class="text-bone text-center" style="border-bottom:solid 2px #2F332E">
                                <th>&ensp;</th>
                                <th colspan="2"></th>
                                <th style="font-size:large;width:50%">Address</th>
                                <th style="font-size:large">Timer</th>
                                <th style="font-size:large">Status</th>
                            </tr>

                            @for (int i = 0; i < Model.NumberOfOrders; i++)
                            {

                                <tr class="text-bone text-center" style="border-bottom:solid 1px #2F332E">
                                    <th style="text-align:start;font-weight:400">@(i + 1).</th>
                                    <th>&ensp;</th>
                                    <th colspan="2" class="text-nowrap" style="font-size:large;font-weight:300">@Model.Address</th>
                                    <th style="font-size:large;width:50%;font-weight:300">@Model.CountWatch m</th>
                                    <th>
                                        <p class="bg-my-dark text-center m-auto px-4 py-2" style="border-radius:7px 55px;font-weight:400"
                                           id="status">@Model.State</p>
                                    </th>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>

                <!-- Acquire Delivery -->
                <div class="col-md-5 ml-5" style="text-align:center;height:90%;width:100%">
                    <!-- Input Order Button -->
                    <div class="position-absolute">
                        <button class="btn square btn-shadow-none text-bone" id="btnReady">
                            <i class="fas fa-plus" style="font-size: 120px"></i>
                        </button>
                    </div>


                    <!-- Change Password Menu -->
                    <div class="div-image-parch container settings-menu position-absolute  " style="height:100%;width:100%" id="newForm">
                        <h3 class="p-2" style="color:#2F332E">New Order</h3>
                        <hr />
                        <form id="aaaa" class="text-my-dark collapsible" style="height:80%; overflow-y:auto">

                            <input class="form-control" id="firstName" placeholder="First Name" value=""/>
                            <span class="text-danger"></span>
                            <hr />

                            <input class="form-control" id="lastName" placeholder="Last Name" value=""/>
                            <span class="text-danger"></span>
                            <hr />

                            <input class="form-control" id="address" placeholder="Address" value=""/>
                            <span class="text-danger"></span>
                            <hr />

                            <input class="form-control" id="floor" placeholder="Floor" value=""/>
                            <span class="text-danger"></span>
                            <hr />

                            <input class="form-control" id="doorName" placeholder="Door Name" value=""/>
                            <span class="text-danger"></span>
                            <hr />

                            <input class="form-control" id="paymentType" placeholder="Payment Type" value=""/>
                            <span class="text-danger"></span>
                            <hr />

                            <input class="form-control" id="phoneNumber" placeholder="Phone Number"  value=""/>
                            <span class="text-danger"></span>
                            <hr />

                            <input class="form-control" id="price" placeholder="Price" value=""/>
                            <span class="text-danger"></span>
                            <hr />

                            <textarea rows="7" name="message" form="usrform" placeholder="Comment"  style="width:100%" id="comments"></textarea>
                            <span class="text-danger"></span>
                            <hr />
                            <button type="submit" class="btn btn-my-dark mx-auto d-block">Submit</button>
                        </form>
                    </div>


                </div>

            </div>



        </div>
    </div>
    </div>
</body>


@section Scripts {

    <!-- Status UI -->
    <script>

        var list = document.getElementsByTagName('p');

        for (var i = 0; i < list.length; i++) {
            if (list[i].innerHTML == 'Pending') {
                list[i].style.backgroundColor = "#C2B638"
            }
            else if (list[i].innerHTML == 'Accepted') {
                list[i].style.backgroundColor = "#659B81"
            }
            else if (list[i].innerHTML == 'Picked') {
                list[i].style.backgroundColor = "#794F7E"
            }
            else if (list[i].innerHTML == 'Delivered') {
                list[i].style.backgroundColor = "#3A9C27"
            }
            else {
                list[i].style.backgroundColor = "#953030"
            }
        };
    </script>

    <!-- Order Button -->
    <script>

        var btnClicked = false;
        var button = document.getElementById('btnReady');
        var newForm = document.getElementById('newForm');

        button.onclick = function () {
            btnClicked ? button.classList.add("bg-carmine") : button.classList.add("bg-winter");
            btnClicked ? (
                newForm.classList.add("invisible"),
                button.classList.remove("invisible"),
                btnClicked = false) :
                (newForm.classList.remove("invisible"),
                    button.classList.add("invisible"),
                    btnClicked = true);
        };




    </script>

    <script src="~/js/PlaceNewOrder.js"></script>
}
