
@{
    ViewData["Title"] = "DeliverNET | WorkSpace";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ProfileBusi</h2>



<form id="newOrderSubmit">
    First Name:<br>
    <input type="text" name="firstName" id="firstName">
    <br>
    Last Name:<br>
    <input type="text" name="lastName" id="lastName">
    <br>
    Address:<br>
    <input type="text" id="address">
    <br><br>
    Floor No:<br>
    <input type="text" id="floor">
    <br>
    Door Name:<br>
    <input type="text" id="doorName">
    <br>
    Payment type:<br>
    <input type="text" id="paymentType">
    <br>


    <input type="submit" value="Submit">
</form>

@section Scripts {
    <script src="~/js/PlaceNewOrder.js"></script>
}








@model DeliverNET.Models.ProfileIndividual.IndividualIndexModel
<!-- This invisible checkbox is set by the availability button, upon click -->
@Html.CheckBoxFor(x => x.IsWorking)

@{
    ViewData["Title"] = "DeliverNET | WorkSpace";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- ::placeholder is valid, don't change -->
<style>
    html {
        height: 100%;
    }

    body {
        background-image: url("/img/background-wood.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }

    ::placeholder {
        color: #529ad1;
    }

    tbody {
        overflow: auto;
        line-height: 3;
    }

    thead > tr, tbody {
        display: block;
    }
</style>

<body style="height:100%">
    <div class="row nav-padding px-5 pb-5 m-auto d-block" style="height:100%">
        <div class="container" style="height:100%">
            <div class="row" style="height:100%">

                <!-- Order List for Deliverer -->
                <div class="col-md-6 my-3 d-block p-0" style="height:80%">
                    <h3 class="text-center text-bone table-standard bg-carmine-3d-square m-0 p-2" style="overflow-y:hidden;max-height:60px">Order List</h3>
                    <table class="table-standard bg-carmine-3d-square" style="height:100%">
                        <tbody style="height:100%">
                            <!-- This loop is only for scroll testing. However, we this inside the loop is the setup for each order input -->
                            @for (int i = 0; i < Model.ActiveOrders; i++)
                            {
                                <tr class="table-inputs">
                                    <th class="col-md-2" style="font-size:large">@Model.RestaurantName</th>
                                    <th>
                                        <p class="bg-my-dark text-center m-auto px-4 py-2" style="border-radius:7px 55px;font-weight:400"
                                           id="status">@Model.State</p>
                                    </th>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>

                <!-- Search for -->
                <div class="col-md-6 m-auto pb-5 pl-5" style="text-align:-webkit-center">
                    <!-- Ignore error here, all good -->
                    <button class="btn btn-unavailable btn-shadow-none text-bone" id="btnReady">
                        <i class="fas fa-signal" style="font-size: 70px"></i>
                        <p>Not Available</p>
                    </button>
                </div>

            </div>
        </div>
    </div>
</body>


@section Scripts {

    <!-- If Button Pressed -->
    <script>

        var IsClicked = false;
        var btn = document.getElementById('btnReady');
        var IsWorking = document.getElementById('IsWorking');
        var htmlON = '<i class="fas fa-signal" style="font-size: 70px"></i> <p> Not Available</p >';
        var htmlOFF = '<i class="fas fa-check" style="font-size: 70px"></i> <p> Available</p >';

        btn.onclick = function () {
            IsClicked ?
                (IsClicked = false,
                    btn.classList.remove("btn-available"),
                    btn.classList.add("btn-unavailable"),
                    IsWorking.value = 'false',
                    btn.innerHTML = htmlON) :

                //removeMeFromGroup()        // Remove from group of available deliverers
                (IsClicked = true,
                    btn.classList.remove("btn-unavailable"),
                    btn.classList.add("btn-available"),
                    IsWorking.value = 'true',
                    btn.innerHTML = htmlOFF);
            //addMeToGroup());              // Add to group  -- bugs everything fuck off gamw tin panagia
        }

    </script>

    <!-- Make checkbox for (IsWorking) field disappear -->
    <script>
        var IsWorking = document.getElementById('IsWorking');
        IsWorking.style.display = 'none';
    </script>

    <!-- Status UI -->
    <script>

        var status = document.getElementById('status');

        status.style.display = 'none';
    </script>

    <script src="~/js/AvailabilityStatus.js"></script>
    <script src="~/js/OrderReceiver.js"></script>
}