@model DeliverNET.Models.ProfileBusiViewModels.OrderBusiViewModel

@{
    ViewData["Title"] = "DeliverNET | WorkSpace";
    Layout = "~/Views/Shared/_LayoutBusi.cshtml";
}

<div class="container pt-3">
    <div class="row">

        <!-- Order List for Deliverer -->
        <div class="col-md-6" onclick="event.stopPropagation()">
            <div id="orderList" class="list-group">
                <div class="list-group-item flex-column align-items-center bg-jet">
                    <h4 class="text-bone m-0">Submitted Orders</h4>
                </div>
                <!--Orders go here-->
            </div>
        </div>

        <!-- Acquire Delivery -->
        <div class="col-md-6">
            <!-- Submit new order form -->
            <div class="bg-jet p-3 rounded" id="newForm">
                <div class="d-flex justify-content-between">
                    <h4 class="d-inline text-bone ">New Order</h4>
                    <h4 class="d-inline text-bone font-pacifico">Rabaisi</h4>
                </div>
                <form id="orderForm">
                    <div class="form-group">
                        <input asp-for="FirstName" class="form-control" id="firstName" placeholder="First Name" value="" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input asp-for="LastName" class="form-control" id="lastName" placeholder="Last Name" value="" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input asp-for="Address" class="form-control" id="address" placeholder="Address" value="" />
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input asp-for="FloorNo" class="form-control" id="floor" placeholder="Floor" value="" />
                        <span asp-validation-for="FloorNo" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input asp-for="DoorName" class="form-control" id="doorName" placeholder="Door Name" value="" />
                        <span asp-validation-for="DoorName" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input asp-for="PaymentTypeId" class="form-control" id="paymentType" placeholder="Payment Type" value="" />
                        <span asp-validation-for="PaymentTypeId" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input asp-for="PhoneNumber" class="form-control" id="phoneNumber" placeholder="Phone Number" value="" />
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input asp-for="Price" class="form-control" id="price" placeholder="Price" value="" />
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <textarea asp-for="Comments" class="form-control w-100" rows="7" placeholder="Comment" id="comments"></textarea>
                        <span asp-validation-for="Comments">s</span>
                    </div>

                    <button type="submit" class="btn bg-winter text-bone mx-auto d-block">Submit</button>
                </form>
            </div>


        </div>

    </div>

</div>


@section Scripts {

    <!-- Status UI -->
    <script>

        var list = document.getElementsByTagName('p');

        for (var i = 0; i < list.length; i++) {
            if (list[i].innerHTML == 'Pending') {
                list[i].style.backgroundColor = "#C2B638"
            }
            else if (list[i].innerHTML == 'Accepted') {
                list[i].style.backgroundColor = "#659B81"
            }
            else if (list[i].innerHTML == 'Picked') {
                list[i].style.backgroundColor = "#794F7E"
            }
            else if (list[i].innerHTML == 'Delivered') {
                list[i].style.backgroundColor = "#3A9C27"
            }
            else {
                list[i].style.backgroundColor = "#953030"
            }
        };
    </script>

    <script src="~/js/BusinessClientSite.js"></script>
}
