
@{
    ViewData["Title"] = "DeliverNET | WorkSpace";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ProfileBusi</h2>



<form id="newOrderSubmit">
    First Name:<br>
    <input type="text" name="firstName"  id="firstName">
    <br>
    Last Name:<br>
    <input type="text" name="lastName"  id="lastName">
    <br>
    Address:<br>
    <input type="text"  id="address">
    <br><br>
    Floor No:<br>
    <input type="text"  id="floor">
    <br>
    Door Name:<br>
    <input type="text"  id="doorName">
    <br>
    Payment type:<br>
    <input type="text"  id="paymentType">
    <br>
  

    <input type="submit" value="Submit">
</form>

@section Scripts {
    <script src="~/js/PlaceNewOrder.js"></script>
}