@model DeliverNET.Models.ProfileBusiViewModels.VerifyFormBusiViewModel
@{
    ViewData["Title"] = "Verify Account";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>

    body {
        background-image: url("/img/parchment.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }
</style>
<div class="row nav-padding px-5 pb-5">
    <div class="container align-items-center">
        <div class="row align-items-center">
            <div class="col-md-4">
                <h3>Business Verification Form</h3>
                <br />
                <form class="text-my-dark" method="post">
                    <div asp-validation-summary="ModelOnly"></div>
                    <div class="form-group">
                        <input asp-for="Title" class="form-control" placeholder="Title" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="Address" class="form-control" placeholder="Address" />
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">+30</div>
                            <input asp-for="PhoneNumber" class="form-control" />
                        </div>
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="Credentials" type="text" class="form-control" placeholder="Credentials" />
                        <span asp-validation-for="Credentials" class="text-danger"></span>
                    </div>
                    <button asp-controller="ProfileBusi" asp-action="VerifyFormBusi" type="submit" class="btn btn-my-dark">Apply</button>
                </form>
            </div>
        </div>
    </div>
</div>