@model DeliverNET.Models.AccountViewModels.RegisterViewModel
@{
    ViewData["Title"] = "DeliverNET | Register";
}
<style>
    body {
        background-image: url("/img/parchment.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }
</style>
<div class="row nav-padding px-5 pb-5">
    <div class="container align-items-center">
        <div class="row align-items-center">
            <div class="col-md-4">
                <h3>Registration Form</h3>
                <br />
                <!-- TODO :: Set Rediridection Route according to User Role when just registered -->
                <form class="text-my-dark" asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
                    <div class="form-group">
                        <label asp-for="Email"><strong>Email</strong></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger "></span>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label asp-for="Password"><strong>Password</strong></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label asp-for="ConfirmPassword"><strong>Confirm Password</strong></label>
                        <input asp-for="ConfirmPassword" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label asp-for="JobType"></label>
                        <input asp-for="JobType" id="jobInput" class="form-control" />
                        <span asp-validation-for="JobType" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-my-dark">Register</button>
                </form>
            </div>

            <!-- Deliverer Btn -->
            <div class="col-md-4" style="text-align: center">
                <h2 class="text-my-dark">Deliverer</h2>
                <br />
                <button class="btn bg-carmine hov-carmine circle btn-shadow-none text-bone" id="btnIndi" value="no">
                    <i class="fas fa-motorcycle" style="font-size: 80px"></i>
                </button>
            </div>

            <!-- Business Btn -->
            <div class="col-md-4" style="text-align: center">
                <h2 class="text-my-dark">Businessman</h2>
                <br />
                <button name="btnBusi" class="btn bg-winter hov-winter circle btn-shadow-none text-bone" id="btnBusi" value="no">
                    <i class="fas fa-briefcase" style="font-size: 80px"></i>
                </button>
            </div>

        </div>

    </div>

</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <!-- Button animation -->
    <script>
        var indiClicked = false;
        var busiClicked = false;
        var indi = document.getElementById('btnIndi');
        var busi = document.getElementById('btnBusi');
        var input = document.getElementById('jobInput');

        indi.onclick = function () {
            indiClicked ? (busi.disabled = false, indi.classList.remove("regiClicked"), indiClicked = false, input.value="") :
                (busi.disabled = true, indi.classList.add("regiClicked"), indiClicked = true, input.value = "@JobTypes.Individual.ToString()");
        };

        busi.onclick = function () {
            busiClicked ? (indi.disabled = false, busi.classList.remove("regiClicked"), busiClicked = false, input.value = "") :
                (indi.disabled = true, busi.classList.add("regiClicked"), busiClicked = true, input.value = "@JobTypes.Businessman.ToString()");
        };
    </script>
}

