@model DeliverNET.Models.ProfileDummies.IndiIndixDummyModel

<div class="container col-md-6">

    <!-- Menus depending on pressed button -->
    <div class="d-flex justify-content-center">

        <!-- Change Password Menu -->
        <div class="bg-jet-3d text-bone mt-5 p-5 settings-menu position-absolute w-75 invisible" style="height:80%" id="menuSett">
            <h3>Change Password</h3>
            <hr />
            <form class="text-my-dark" style="width:90%">

                <label><strong>Enter your OLD Password</strong></label>
                <input class="form-control mb-3" />
                <span class="text-danger"></span> <!-- TODO: Insert wrong text shit -->

                <label><strong>Enter your NEW Password</strong></label>
                <input class="form-control mb-3" />
                <span class="text-danger"></span>

                <label><strong>Confirm Password</strong></label>
                <input class="form-control mb-3" />
                <span class="text-danger"></span>

                <button type="submit" class="btn btn-my-dark mx-auto d-block">Apply</button>
            </form>
        </div>

        <!-- Edit Information Menu -->
        <div class="bg-jet-3d text-bone mt-5 p-5 settings-menu position-absolute w-75 invisible" style="height:80%" id="menuInfo">
            <h3>Edit Information</h3>
            <hr />
            <form class="text-my-dark" style="width:90%">

                <label><strong>Restaurant Address</strong></label>
                <input class="form-control mb-3" placeholder="PREVIOUS ADDRESS" />
                <span class="text-danger"></span>


                <label><strong>Area</strong></label>
                <span class="text-danger"></span>
                <input class="form-control mb-3" placeholder="PREVIOUS AREA NAME" list="region" />
                <datalist id="region">
                    <!-- Connect here IF Statement list depending on City (we need the input above first) -->
                    <option>Sto mouni tis manas tou Oresti</option>
                    <option>Sto mouni tis manas tou Oresti</option>
                    <option>Sto mouni tis manas tou Oresti</option>
                    <option>Sto mouni tis manas tou Oresti</option>
                    <option>Sto mouni tis manas tou Oresti</option>
                    <option>Sto mouni tis manas tou Oresti</option>
                    <option>Sto mouni tis manas tou Oresti</option>
                    <option>Sto mouni tis manas tou Oresti</option>
                    <option>Sto mouni tis manas tou Oresti</option>
                </datalist>

                <div class="position-relative">
                    <label><strong>Mobile Phone</strong></label>
                    <input class="form-control input-with-place  mb-3" placeholder="PREVIOUS PHONE" />
                    <span class="unit" style="color:#808080">+30&ensp;</span>
                    <span class="text-danger"></span>
                </div>

                <label><strong>Email</strong></label>
                <input class="form-control  mb-3" placeholder="PREVIOUS ADDRESS" />
                <span class="text-danger"></span>

                <button type="submit" class="btn btn-my-dark mx-auto d-block">Apply</button>

            </form>
        </div>

        <!-- Add Cashier Menu -->
        <div class="bg-jet-3d text-bone mt-5 p-5 settings-menu position-absolute w-75 invisible" style="height:80%" id="menuCashier">
            <h3>Add Cashier</h3>
            <hr />
            <form class="text-my-dark" style="width:90%">

                <label><strong>Username</strong></label>
                <input class="form-control mb-3" />
                <span class="text-danger"></span> <!-- TODO: Insert wrong text shit -->

                <label><strong>Password</strong></label>
                <input class="form-control mb-3" />
                <span class="text-danger"></span>

                <label><strong>Confirm Password</strong></label>
                <input class="form-control mb-3" />
                <span class="text-danger"></span>

                <button type="submit" class="btn btn-my-dark mx-auto d-block">Apply</button>
            </form>
        </div>

        <!-- Help Menu -->
        <div class="bg-jet-3d text-bone mt-5 p-5 settings-menu position-absolute w-75 invisible" style="height:80%" id="menuHelp">
            <h3>Help Me About:</h3>
            <hr />
            <ul style="font-size:23px;font-weight:400">

                <li class="mb-3">
                    <a>Payment</a>
                </li>

                <li class="mb-3">
                    <a>Policy</a>
                </li>

                <li class="mb-3">
                    <a>Recommendations</a>
                </li>

                <li class="mb-3">
                    <a>Frequently Asked Questions</a>
                </li>

            </ul>
        </div>

        @if (!Model.IsVerified)
        {
            <!-- Verify Menu for Owner -->
            <div class="bg-jet-3d text-bone mt-5 p-5 settings-menu position-absolute w-75 invisible" style="height:80%" id="menuVerify">
                <h3>Verification Form:</h3>
                <hr />

                <!-- TODO Connect the inputs of this form with Db -->
                <form class="text-my-dark collapsible p-0" style="height:90%;overflow-y:auto">

                    <label><strong>City</strong></label>
                    <span class="text-danger"></span> <!-- Here we enter the asp-validation-for -->
                    <input class="form-control mb-3" placeholder="Choose A City" list="cities" />
                    <datalist id="cities">
                        <option>Athens</option>
                        <option>Patra</option>
                        <option>Korinthos</option>
                        <option>Xalkida</option>
                        <option>Giannena</option>
                        <option>Thessaloniki</option>
                        <option>H Poutana H Mana tou Oresti</option>
                    </datalist>

                    <label><strong>Area</strong></label>
                    <span class="text-danger"></span>
                    <input class="form-control mb-3" placeholder="City Area" list="region" />
                    <datalist id="region">
                        <!-- Connect here IF Statement list depending on City (we need the input above first) -->
                        <option>Sto mouni tis manas tou Oresti</option>
                        <option>Sto mouni tis manas tou Oresti</option>
                        <option>Sto mouni tis manas tou Oresti</option>
                        <option>Sto mouni tis manas tou Oresti</option>
                        <option>Sto mouni tis manas tou Oresti</option>
                        <option>Sto mouni tis manas tou Oresti</option>
                        <option>Sto mouni tis manas tou Oresti</option>
                        <option>Sto mouni tis manas tou Oresti</option>
                        <option>Sto mouni tis manas tou Oresti</option>
                    </datalist>

                    <label><strong>OTHER STUFF WE WANT TO LEARN</strong></label>
                    <input class="form-control mb-3" placeholder="OTHER" />
                    <span class="text-danger"></span>

                    <div class="form-group position-relative mb-3">
                        <label><strong>Mobile Phone</strong></label>
                        <input class="form-control input-with-place" />
                        <span class="unit" style="color:#808080">+30&ensp;</span>
                        <span class="text-danger"></span>
                    </div>

                    <button type="submit" class="btn btn-my-dark mx-auto d-block">Send</button>
                </form>
            </div>
        }
    </div>

</div>
