<!-- TODO :: In order to link to this URL, you MUST be logged in AND a Deliverer -->

@{
    ViewData["Title"] = "DeliverNET | WorkSpace";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- ::placeholder is valid, don't change -->
<style>
    body {
        background-image: url("/img/background-wood.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }

    ::placeholder {
        color: #529ad1;
    }

    tbody {
        overflow: auto;
        line-height: 3;
    }

    thead > tr, tbody {
        display: block;
    }
</style>

<body>
    <div class="row nav-padding px-5 pb-5" style="height:100%">
        <div class="container align-items-center" style="height:100%">
            <div class="row align-items-center" style="height:100%">

                <!-- Order List for Deliverer -->
                <div class="col-md-6 my-3 d-block p-0" style="height:80%">
                    <h3 class="text-center text-bone table-standard bg-carmine-3d-square m-0 p-2" style="overflow-y:hidden;max-height:60px">Order List</h3>
                    <table class="table-standard bg-carmine-3d-square" style="height:100%">
                        <tbody style="height:100%">
                            <!-- This loop is only for scroll testing. However, we this inside the loop is the setup for each order input -->
                            @for (int i = 0; i < 10; i++)
                            {
                                <tr class="table-inputs">
                                    <th class="col-md-2" style="font-size:large">Restaurant Name</th>
                                    <th>
                                        <input class="bg-my-dark text-center p-0" style="border-radius:7px 55px;border-style:none" placeholder="Order Status" disabled />
                                    </th>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>

                <!-- Search for -->
                <div class="col-md-6" style="text-align:-webkit-center">
                    <!-- Ignore error here, all good -->
                    <button class="btn btn-unavailable btn-shadow-none text-bone" id="btnReady">
                        <i class="fas fa-signal" style="font-size: 70px"></i>
                        <p>Not Available</p>
                    </button>
                </div>

            </div>
        </div>
    </div>
</body>

@section Scripts {

    <!-- If Button Pressed -->
    <script>
        var IsClicked = false;
        var btn = document.getElementById('btnReady');
        var htmlON = '<i class="fas fa-signal" style="font-size: 70px"></i> <p> Not Available</p >';
        var htmlOFF = '<i class="fas fa-check" style="font-size: 70px"></i> <p> Available</p >';

        btn.onclick = function () {
            IsClicked ?
                (IsClicked = false,
                    btn.classList.remove("btn-available"),
                    btn.classList.add("btn-unavailable"),
                    btn.innerHTML = htmlON,
                    removeMeFromGroup()) :        //I call the function that removes this deliverer from the group of available deliverers
                (IsClicked = true,
                    btn.classList.remove("btn-unavailable"),
                    btn.classList.add("btn-available"),
                    btn.innerHTML = htmlOFF,
                    addMeToGroup());              //I call the function that addes this deliverer from the group of available deliverers
        }

  

    </script>

    <script src="~/js/AvailabilityStatus.js"></script>
    <script src="~/js/OrderReceiver.js"></script>
}