@{
    ViewData["Title"] = "DeliverNET | WorkSpace";
    Layout = "~/Views/Shared/_LayoutIndi.cshtml";
}


<!-- Order Info Modal -->
<div class="modal fade rounded" id="orderModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body bg-jet p-0" style="border-radius: 5px">
                <div class="card text-center">
                    <div class="card-header bg-jet text-bone">
                        <h2 id="modal-restaurantTitle" class="font-pacifico"></h2>
                        <span id="modal-restaurantAddress" class=""></span>
                    </div>
                    <div class="card-body bg-carmine">
                        <p class="">
                            <strong>Payment Type: </strong>
                            <span id="modal-paymentType"></span>
                        </p>

                        <p class="">
                            <strong>Price: </strong>
                            <span id="modal-price"></span>
                        </p>
                        
                        <a class="btn bg-winter text-bone d-block">Accept</a>
                    </div>
                    <div id="modal-timestamp" class="card-footer bg-jet text-bone"></div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container pt-5">
    <div class="row">

        <!-- Order List for Deliverer -->
        <div class="col-md-6" onclick="event.stopPropagation()">
            <div id="orderList" class="list-group">
                <div class="list-group-item flex-column align-items-center bg-jet">
                    <span class="text-bone">Order Pool</span>
                </div>
                <!--Orders go here-->
            </div>
        </div>


        <!-- Availability Button -->
        <div class="col-md-6" style="text-align:-webkit-center">
            <!-- Ignore error here, all good -->
            <button class="btn btn-unavailable btn-shadow-none text-bone" id="btnReady">
                <i class="fas fa-signal" style="font-size: 70px"></i>
                <p>Not Available</p>
            </button>
        </div>

    </div>

    <!--Test button to remove order based on id-->
    <div class="row no-gutters">
        <div class="col-md-5">
            <input type="text" id="orderToRemove" class="form-control" placeholder="Order Id" />
        </div>
        <div class="col-md-1">
            <button type="button" id="removeOrderBtn" class="btn btn-danger">Delete</button>
        </div>
    </div>

</div>


@section Scripts {

    <!-- Available Button Logic -->
    <script>



        var userName = "@User.Identity.Name";
        var IsClicked = false;
        var btn = document.getElementById('btnReady');
        var IsWorking = document.getElementById('IsWorking');
        var htmlON = '<i class="fas fa-signal" style="font-size: 70px"></i> <p> Not Available</p >';
        var htmlOFF = '<i class="fas fa-check" style="font-size: 70px"></i> <p> Available</p >';


        btn.onclick = function () {
            IsClicked ?
                (IsClicked = false,
                    btn.classList.add("btn-unavailable"),
                    btn.classList.remove("btn-available"),
                    btn.innerHTML = htmlON,
                    removeMeFromGroup(), // Remove from group of available deliverers
                    clearOrderList()) :   

                (IsClicked = true,
                    btn.classList.add("btn-available"),
                    btn.classList.remove("btn-unavailable"),
                    btn.innerHTML = htmlOFF,
                    addMeToGroup());         // Add to group  -- bugs everything fuck off gamw tin panagia
        }

    </script>

    <script src="~/js/IndiClientSite.min.js"></script>


}