@{
    ViewData["Title"] = "DeliverNET | WorkSpace";
    Layout = "~/Views/Shared/_LayoutIndi.cshtml";
}

<!-- Order Info Modal -->
<div class="modal fade rounded" id="orderModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body bg-jet p-0" style="border-radius: 5px">
                <div class="card text-center">
                    <div class="card-header bg-jet text-bone">
                        <h2 id="modal-restaurantTitle" class="font-pacifico"></h2>
                        <span id="modal-restaurantAddress" class=""></span>
                    </div>
                    <div class="card-body bg-carmine">

                        <p class="">
                            <strong>Payment Type: </strong>
                            <span id="modal-paymentType"></span>
                        </p>

                        <p class="">
                            <strong>Price: </strong>
                            <span id="modal-price"></span>
                        </p>
                                              
                        <input class="form-control" hidden type="text" id="modal-orderId"/>
                        <a onclick="onOrderAccepted()" id="acceptOrderBtn" class="btn bg-winter text-bone d-block">Accept</a>
                    </div>
                    <div id="modal-timestamp" class="card-footer" bg-jet text-bone"></div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Order Accepted Modal -->
<div class="modal fade rounded" id="orderAcceptedModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-jet">
                <h4 class="text-bone">Order Accepted!</h4>
            </div>
            <div class="modal-body bg-bone">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <h5 class="text-jet">Restaurant Info</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <span class="text-jet">Name</span>
                        </div>
                        <div class="col-6">
                            <span class="text-jet">tade</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <span class="text-jet mb-0">Address</span>
                        </div>
                        <div class="col-6">
                            <span class="text-jet mb-0">tade</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <hr />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <h5 class="text-jet">Order Info</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <span class="text-jet">Price</span>
                        </div>
                        <div class="col-6">
                            <span class="text-jet">tade</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <span class="text-jet">Payment</span>
                        </div>
                        <div class="col-6">
                            <span class="text-jet">tade</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <button onclick="onOrderPicked()" class="btn btn-block bg-winter text-bone mt-3">Picked Up</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-center bg-jet">
                <input hidden type="text" id="modalAccepted-orderId" />
                <span id="modalAccepted-timestamp" class="text-bone">eliybrliergbly</span>
            </div>
        </div>
    </div>
</div>


<!-- Order Picked Modal -->
<div class="modal fade rounded" id="orderPickedModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-jet">
                <h4 class="text-bone">Order Picked!</h4>
            </div>
            <div class="modal-body bg-bone">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <h5 class="text-jet">Customer Info</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <span class="text-jet">Name</span>
                        </div>
                        <div class="col-6">
                            <span class="text-jet">tade</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <span class="text-jet">Address</span>
                        </div>
                        <div class="col-6">
                            <span class="text-jet">tade</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <span class="text-jet">Door Name</span>
                        </div>
                        <div class="col-6">
                            <span class="text-jet">tade</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <span class="text-jet">Floor No</span>
                        </div>
                        <div class="col-6">
                            <span class="text-jet">tade</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <span class="text-jet">Phone Number</span>
                        </div>
                        <div class="col-6">
                            <span class="text-jet">tade</span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <hr />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <h5 class="text-jet">Order Info</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <span class="text-jet">Price</span>
                        </div>
                        <div class="col-6">
                            <span class="text-jet">tade</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <span class="text-jet">Payment</span>
                        </div>
                        <div class="col-6">
                            <span class="text-jet">tade</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <button onclick="onOrderDelivered()" class="btn btn-block bg-winter text-bone mt-3">Delivered</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-center bg-jet">
                <input hidden type="text" id="modalPicked-orderId" />
                <span id="modalAccepted-timestamp" class="text-bone">eliybrliergbly</span>
            </div>
        </div>
    </div>
</div>


<div class="container pt-5">
    <div class="row">

        <!-- Order List for Deliverer -->
        <div class="col-md-6 px-0 bg-carmine-3d" onclick="event.stopPropagation()" style="border:solid 1px #E0DDC3;border-radius:4px;height:70vh">
            <div id="orderList" class="list-group">
                <div class="list-group-item flex-column align-items-center bg-jet">
                    <span class="text-bone">Order Pool</span>
                </div>
                <!--Orders go here-->
            </div>
        </div>
        <!-- TODO : Enter Tips button -->


        <!-- Availability Button -->
        <div class="col-md-6" style="text-align:-webkit-center">
            <!-- Ignore error here, all good -->
            <button class="btn btn-unavailable btn-shadow-none text-bone" id="btnReady">
                <i class="fas fa-signal" style="font-size: 70px"></i>
                <p>Not Available</p>
            </button>
        </div>

    </div>

    <!--Test button to remove order based on id-->
    <div class="row no-gutters mt-3">
        <div class="col-md-5">
            <input type="text" id="orderToRemove" class="form-control" placeholder="Order Id" />
        </div>
        <div class="col-md-1">
            <button type="button" id="removeOrderBtn" class="btn btn-danger">Delete</button>
        </div>
    </div>

</div>


@section Scripts {

    <!-- Background Image -->
    <script>
        var back = document.getElementById('bodyDiv');
        back.classList.remove("bg-img-carmine");
        back.classList.add("bg-img-biker");
    </script>

    <!-- Available Button Logic -->
    <script>



            var userName = "@User.Identity.Name";
            var IsClicked = false;
            var btn = document.getElementById('btnReady');
            var IsWorking = document.getElementById('IsWorking');
            var htmlON = '<i class="fas fa-signal" style="font-size: 70px"></i> <p> Not Available</p >';
            var htmlOFF = '<i class="fas fa-check" style="font-size: 70px"></i> <p> Available</p >';


        btn.onclick = function () {
            IsClicked ?
                (IsClicked = false,
                    btn.classList.add("btn-unavailable"),
                    btn.classList.remove("btn-available"),
                    btn.innerHTML = htmlON,
                    removeMeFromGroup(), // Remove from group of available deliverers
                    clearOrderList()) :   

                    (IsClicked = true,
                        btn.classList.add("btn-available"),
                        btn.classList.remove("btn-unavailable"),
                        btn.innerHTML = htmlOFF,
                        addMeToGroup());         // Add to group  -- bugs everything fuck off gamw tin panagia
            }

    </script>

    <script src="~/js/IndiClientSite.js"></script>


}