
@{
    ViewData["Title"] = "Profile Settings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    body {
        background-image: url("/img/background-wood.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }
    html {
        height:100%;
    }
</style>

<body>
    <div class="row nav-padding" style="height:100%">
        <div class="col-md-3 px-5" style="text-align:center;height:100%">

            <!--Profile Settings-->
            <div style="height:40%">
                <button class="btn bg-carmine-3d hov-carmine-3d circle btn-shadow-none text-bone p-0" id="btnSett">
                    <i class="fas fa-user-edit" style="font-size: 65px"></i>
                </button>
                <button class="btn btn-dead btn-shadow-none bg-carmine-3d text-bone py-0"
                        style="border-radius:20px;font-size:22px;width:70%" id="labSett">
                    Profile Settings
                </button>
            </div>

            <!--Contact-->
            <div>
                <button class="btn bg-carmine-3d hov-carmine-3d circle btn-shadow-none text-bone p-0" id="btnCont">
                    <i class="fas fa-at" style="font-size: 65px"></i>
                </button>
                <button class="btn btn-dead btn-shadow-none bg-carmine-3d text-bone py-0"
                        style="border-radius:20px;font-size:22px;width:70%" id="labCont">
                    Contact
                </button>
            </div>

        </div>

        <div class="col-md-3 px-5" style="text-align:center;height:100%;margin-top:60px">

            <!--Edit Information-->
            <div style="height:35%">
                <button class="btn bg-winter-3d hov-winter-3d circle btn-shadow-none text-bone p-0" id="btnInfo">
                    <i class="fas fa-unlock-alt" style="font-size: 65px"></i>
                </button>
                <button class="btn btn-dead btn-shadow-none bg-winter-3d text-bone py-0"
                        style="border-radius:20px;font-size:22px;width:70%" id="labInfo">
                    Edit
                </button>
            </div>

            <!--Help-->
            <div class="mt-5">
                <button class="btn bg-winter-3d hov-winter-3d circle btn-shadow-none text-bone p-0" id="btnHelp">
                    <i class="fas fa-question" style="font-size: 65px"></i>
                </button>
                <button class="btn btn-dead btn-shadow-none bg-winter-3d text-bone p-0"
                        style="border-radius:20px;font-size:22px;width:70%" id="labHelp">
                    Help
                </button>
            </div>

        </div>

        <!-- All the different Menus inside this partial -->
        <partial name="_SettingsIndiPartial" />



    </div>
</body>


@section Scripts {

    <script>

        var settClicked = false;
        var infoClicked = false;
        var contClicked = false;
        var helpClicked = false;

        var sett = document.getElementById('btnSett');
        var info = document.getElementById('btnInfo');
        var cont = document.getElementById('btnCont');
        var help = document.getElementById('btnHelp');

        var settLab = document.getElementById('labSett');
        var infoLab = document.getElementById('labInfo');
        var contLab = document.getElementById('labCont');
        var helpLab = document.getElementById('labHelp');

        var settMenu = document.getElementById('menuSett');
        var infoMenu = document.getElementById('menuInfo');
        var contMenu = document.getElementById('menuCont');
        var helpMenu = document.getElementById('menuHelp');


        sett.onmouseover = function () {
            settLab.classList.add("bg-carmine-3d-hover");
        };

        sett.onmouseout = function () {
            settLab.classList.remove("bg-carmine-3d-hover");
        };

        info.onmouseover = function () {
            infoLab.classList.add("bg-winter-3d-hover");
        };

        info.onmouseout = function () {
            infoLab.classList.remove("bg-winter-3d-hover");
        };

        cont.onmouseover = function () {
            contLab.classList.add("bg-carmine-3d-hover");
        };

        cont.onmouseout = function () {
            contLab.classList.remove("bg-carmine-3d-hover");
        };

        help.onmouseover = function () {
            helpLab.classList.add("bg-winter-3d-hover");
        };

        help.onmouseout = function () {
            helpLab.classList.remove("bg-winter-3d-hover");
        };

        function disableAll() {
            if (settClicked) {
                sett.classList.remove("regiClicked"),
                    settLab.classList.remove("regiClicked"),
                    settMenu.classList.add("invisible"),
                    settClicked = false
            };
            if (infoClicked) {
                info.classList.remove("regiClicked"),
                    infoLab.classList.remove("regiClicked"),
                    infoMenu.classList.add("invisible"),
                    infoClicked = false
            };
            if (contClicked) {
                cont.classList.remove("regiClicked"),
                    contLab.classList.remove("regiClicked"),
                    contMenu.classList.add("invisible"),
                    contClicked = false
            };
            if (helpClicked) {
                help.classList.remove("regiClicked"),
                    helpLab.classList.remove("regiClicked"),
                    helpMenu.classList.add("invisible"),
                    helpClicked = false
            };
        };

        sett.onclick = function () {
            settClicked ? disableAll() :
                (disableAll(),
                    sett.classList.add("regiClicked"),
                    settLab.classList.add("regiClicked"),
                    settMenu.classList.remove("invisible"),
                    settClicked = true);
        };

        info.onclick = function () {
            infoClicked ? disableAll() :
                (disableAll(),
                    info.classList.add("regiClicked"),
                    infoLab.classList.add("regiClicked"),
                    infoMenu.classList.remove("invisible"),
                    infoClicked = true);
        };

        cont.onclick = function () {
            contClicked ? disableAll() :
                (disableAll(),
                    cont.classList.add("regiClicked"),
                    contLab.classList.add("regiClicked"),
                    contMenu.classList.remove("invisible"),
                    contClicked = true);
        };

        help.onclick = function () {
            helpClicked ? disableAll() :
                (disableAll(),
                    help.classList.add("regiClicked"),
                    helpLab.classList.add("regiClicked"),
                    helpMenu.classList.remove("invisible"),
                    helpClicked = true);
        };

    </script>

}